In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly as pl
import plotly.offline as of
import cufflinks as cf
import datetime as dt
%matplotlib inline

In [2]:
of.init_notebook_mode(connected = True)
cf.go_offline()

In [3]:
donations = pd.read_csv('Donations.csv')

In [4]:
donors = pd.read_csv('Donors.csv')

In [5]:
projects = pd.read_csv('Projects.csv')

In [6]:
resources = pd.read_csv('Resources.csv')

In [7]:
schools = pd.read_csv('Schools.csv')

In [8]:
teachers = pd.read_csv('Teachers.csv')

Describe and show data for column ideas

In [9]:
print('Shape of donations dataframe is:' , donations.shape)
print('Shape of donors dataframe is:' , donors.shape)
print('Shape of projects dataframe is:' , projects.shape)
print('Shape of resources dataframe is:' , resources.shape)
print('Shape of schools dataframe is:' , schools.shape)
print('Shape of teachers dataframe is:' , teachers.shape)

Shape of donations dataframe is: (80000, 7)
Shape of donors dataframe is: (80000, 5)
Shape of projects dataframe is: (80000, 18)
Shape of resources dataframe is: (80000, 5)
Shape of schools dataframe is: (72993, 9)
Shape of teachers dataframe is: (80000, 3)

In [10]:
donations.head()

,Project ID,Donation ID,Donor ID,Donation Included Optional Donation,Donation Amount,Donor Cart Sequence,Donation Received Date
0,000009891526c0ade7180f8423792063,688729120858666221208529ee3fc18e,1f4b5b6e68445c6c4a0509b3aca93f38,No,178.37,11,2016-08-23 13:15:57
1,000009891526c0ade7180f8423792063,dcf1071da3aa3561f91ac689d1f73dee,4aaab6d244bf3599682239ed5591af8a,Yes,25.00,2,2016-06-06 20:05:23
2,000009891526c0ade7180f8423792063,18a234b9d1e538c431761d521ea7799d,0b0765dc9c759adc48a07688ba25e94e,Yes,20.00,3,2016-06-06 14:08:46
3,000009891526c0ade7180f8423792063,38d2744bf9138b0b57ed581c76c0e2da,377944ad61f72d800b25ec1862aec363,Yes,25.00,1,2016-05-15 10:23:04
4,000009891526c0ade7180f8423792063,5a032791e31167a70206bfb86fb60035,6d5b22d39e68c656071a842732c63a0c,Yes,25.00,2,2016-05-17 01:23:38

In [11]:
donors.head()

,Donor ID,Donor City,Donor State,Donor Is Teacher,Donor Zip
0,00000ce845c00cbf0686c992fc369df4,Evanston,Illinois,No,602
1,00002783bc5d108510f3f9666c8b1edd,Appomattox,other,No,245
2,00002d44003ed46b066607c5455a999a,Winton,California,Yes,953
3,00002eb25d60a09c318efbd0797bffb5,Indianapolis,Indiana,No,462
4,0000300773fe015f870914b42528541b,Paterson,New Jersey,No,075

In [12]:
projects.head()

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Title,Project Essay,Project Short Description,Project Need Statement,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Current Status,Project Fully Funded Date
0,7685f0265a19d7b52a470ee4bac883ba,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,25,Teacher-Led,Stand Up to Bullying: Together We Can!,Did you know that 1-7 students in grades K-12 ...,Did you know that 1-7 students in grades K-12 ...,"My students need 25 copies of ""Bullying in Sch...",Applied Learning,"Character Education, Early Development",Grades PreK-2,Technology,361.80,2013-01-01,2013-05-30,Fully Funded,2013-01-11
1,f9f4af7099061fb4bf44642a03e5c331,08b20f1e2125103ed7aa17e8d76c71d4,cca2d1d277fb4adb50147b49cdc3b156,3,Teacher-Led,Learning in Color!,"Help us have a fun, interactive listening cent...","Help us have a fun, interactive listening cent...","My students need a listening center, read alon...","Applied Learning, Literacy & Language","Early Development, Literacy",Grades PreK-2,Technology,512.85,2013-01-01,2013-05-31,Expired,NaN
2,afd99a01739ad5557b51b1ba0174e832,1287f5128b1f36bf8434e5705a7cc04d,6c5bd0d4f20547a001628aefd71de89e,1,Teacher-Led,Help Second Grade ESL Students Develop Languag...,Visiting or moving to a new place can be very ...,Visiting or moving to a new place can be very ...,My students need beginning vocabulary audio ca...,Literacy & Language,ESL,Grades PreK-2,Supplies,435.92,2013-01-01,2013-05-30,Fully Funded,2013-05-22
3,c614a38bb1a5e68e2ae6ad9d94bb2492,900fec9cd7a3188acbc90586a09584ef,8ed6f8181d092a8f4c008b18d18e54ad,40,Teacher-Led,Help Bilingual Students Strengthen Reading Com...,Students at our school are still working hard ...,Students at our school are still working hard ...,My students need one copy of each book in The ...,Literacy & Language,"ESL, Literacy",Grades 3-5,Books,161.26,2013-01-01,2013-05-31,Fully Funded,2013-02-06
4,ec82a697fab916c0db0cdad746338df9,3b200e7fe3e6dde3c169c02e5fb5ae86,893173d62775f8be7c30bf4220ad0c33,2,Teacher-Led,Help Us Make Each Minute Count!,"""Idle hands"" were something that Issac Watts s...","""Idle hands"" were something that Issac Watts s...","My students need items such as Velcro, two pou...",Special Needs,Special Needs,Grades 3-5,Supplies,264.19,2013-01-01,2013-05-30,Fully Funded,2013-01-01

In [13]:
resources.head()

,Project ID,Resource Item Name,Resource Quantity,Resource Unit Price,Resource Vendor Name
0,000009891526c0ade7180f8423792063,chair move and store cart,1.0,350.00,NaN
1,00000ce845c00cbf0686c992fc369df4,sony mdr zx100 blk headphones,40.0,12.86,CDW-G
2,00002d44003ed46b066607c5455a999a,"gaiam kids stay-n-play balance ball, grey",4.0,19.00,Amazon Business
3,00002d44003ed46b066607c5455a999a,cf520x - giant comfy pillows - set of 4,1.0,269.00,Lakeshore Learning Materials
4,00002d44003ed46b066607c5455a999a,"serta lounger, mini, sky blue",1.0,131.85,Amazon Business

In [14]:
schools.head()

,School ID,School Name,School Metro Type,School Percentage Free Lunch,School State,School Zip,School City,School County,School District
0,00003e0fdd601b8ea0a6eb44057b9c5e,Capon Bridge Middle School,rural,56.0,West Virginia,26711,Capon Bridge,Hampshire,Hampshire Co School District
1,00004e32a448b4832e1b993500bf0731,The Woodlands College Park High School,urban,41.0,Texas,77384,The Woodlands,Montgomery,Conroe Ind School District
2,0002021bb799f28de224f1acc1ff08c4,Samantha Smith Elementary School,suburban,2.0,Washington,98074,Sammamish,King,Lake Washington Sch Dist 414
3,0004604f675212a8cac1161338265196,Kingsbury Country Day School,unknown,76.0,Michigan,48370,Oxford,Oakland,Michigan Dept Of Education
4,0004c9d50bcf0cea990f844e58b5e2c3,Redwater Elementary School,rural,50.0,Texas,75573,Redwater,Bowie,Redwater Ind Sch District

In [15]:
teachers.head()

,Teacher ID,Teacher Prefix,Teacher First Project Posted Date
0,00000f7264c27ba6fea0c837ed6aa0aa,Mrs.,2013-08-21
1,00002d44003ed46b066607c5455a999a,Mrs.,2016-10-23
2,00006084c3d92d904a22e0a70f5c119a,Mr.,2016-09-08
3,0000a9af8b6b9cc9e41f53322a8b8cf1,Ms.,2015-10-25
4,0000d4777d14b33a1406dd6c9019fe89,Ms.,2017-02-10

In [16]:
donations.describe()

       Donation Amount  Donor Cart Sequence
count     80000.000000         80000.000000
mean         59.965211           173.503613
std         144.512826          1097.524372
min           0.010000             1.000000
25%          10.000000             1.000000
50%          25.000000             2.000000
75%          50.000000            12.000000
max        7987.170000         17074.000000

In [17]:
donors.describe()

,Donor ID,Donor City,Donor State,Donor Is Teacher,Donor Zip
count,80000,71994,80000,80000,73251
unique,80000,7173,52,2,908
top,0789fc9e13c6c99d19117e95281c8f98,Chicago,California,No,606
freq,1,1316,11058,71996,1342

In [18]:
projects.describe()

       Teacher Project Posted Sequence   Project Cost
count                     80000.000000   80000.000000
mean                          8.667912     640.185443
std                          18.691772    1253.150928
min                           1.000000      92.000000
25%                           1.000000     333.720000
50%                           2.000000     505.680000
75%                           7.000000     749.380000
max                         230.000000  164382.840000

In [19]:
resources.describe()

       Resource Quantity  Resource Unit Price
count       79720.000000         79720.000000
mean            2.879880            51.764486
std             8.841048           149.773606
min             1.000000             0.000000
25%             1.000000             7.100000
50%             1.000000            14.055000
75%             2.000000            35.000000
max           500.000000          8969.990000

In [20]:
schools.describe()

       School Percentage Free Lunch    School Zip
count                  71852.000000  72993.000000
mean                      58.556115  53382.093406
std                       25.508378  29131.096568
min                        0.000000    705.000000
25%                       40.000000  29554.000000
50%                       61.000000  53095.000000
75%                       80.000000  78572.000000
max                      100.000000  99950.000000

In [21]:
teachers.describe()

,Teacher ID,Teacher Prefix,Teacher First Project Posted Date
count,80000,79995,80000
unique,80000,6,3939
top,0f432e89d71a234a0f0b2e569b2e7cde,Mrs.,2015-09-13
freq,1,40294,417

Create new data by using the datasets

In [22]:
data = pd.merge(donations , projects , how='inner' , on = 'Project ID')

In [23]:
data2 = pd.merge(data , donors , how='inner' , on='Donor ID')

In [24]:
data3 = pd.merge(data2 , schools , how='inner' , on='School ID')

In [25]:
data4 = pd.merge(data3, teachers , how='inner' , on='Teacher ID')

In [26]:
data4.head()

,Project ID,Donation ID,Donor ID,Donation Included Optional Donation,Donation Amount,Donor Cart Sequence,Donation Received Date,School ID,Teacher ID,Teacher Project Posted Sequence,...,School Name,School Metro Type,School Percentage Free Lunch,School State,School Zip,School City,School County,School District,Teacher Prefix,Teacher First Project Posted Date
0,0012f7359b9705f46355a1c2b8ecbc1d,33e1b085ee889833b023fe0bd7c22414,03fa60275eb66e873c30ecb86840df4b,Yes,5.0,607,2013-10-11 20:00:04,78ceaa1d8b13c14d433ee1b71cd8a013,30fd47bdade08c4ffefaaed727d2e159,3,...,Nashua Elementary School,urban,22.0,Missouri,64155,Kansas City,Clay,North Kansas City Schools 74,Mrs.,2012-11-04
1,00550d6678ef7b9c39efe929b4ce0298,2f9c010bf3481967139a77646a60594f,03fa60275eb66e873c30ecb86840df4b,Yes,1.0,335,2013-06-26 17:36:55,1400e132bfbdde39ff0b353e99a25db7,2ede6f066d722baf9376d9eb5c70aaf5,2,...,Tok School,rural,85.0,Alaska,99780,Tok,Southeast Fairbanks,Alaska Gateway School District,Mrs.,2013-05-05
2,00a8383406de0a845c348aa5c69f6a92,17c0f8d40fd4a1f5b73ec141a00a591e,03fa60275eb66e873c30ecb86840df4b,Yes,1.0,481,2013-08-17 06:34:43,3706b4dd4d68da21df7015cba19dbc02,0ca318fc7d75f12d8fe2e8e4a8c04628,16,...,Future Leaders Institute Charter School,urban,83.0,New York,10027,New York City,New York (Manhattan),New York City Dept Of Ed,Ms.,2011-01-18
3,028f0150ded49457878902f065ae5f3a,a3c23d1b268c14de3fe7dd686ae6019b,03fa60275eb66e873c30ecb86840df4b,Yes,1.0,146,2013-03-17 12:01:55,a703a4515860eaa9985eb3cf2ef1c0c8,11e75991e5e0245db57a72c0ea7519c5,101,...,Dahlia Heights Elementary School,urban,50.0,California,90041,Los Angeles,Los Angeles,Los Angeles Unif Sch Dist,Mrs.,2006-08-16
4,028f0150ded49457878902f065ae5f3a,fe5472efe1033ed2e7fe1b68445e0412,03fa60275eb66e873c30ecb86840df4b,Yes,1.0,161,2013-04-01 09:47:39,a703a4515860eaa9985eb3cf2ef1c0c8,11e75991e5e0245db57a72c0ea7519c5,101,...,Dahlia Heights Elementary School,urban,50.0,California,90041,Los Angeles,Los Angeles,Los Angeles Unif Sch Dist,Mrs.,2006-08-16

In [15]:
a = data4.columns.values.tolist()
a

Which 10 states have the most number of schools that opened projects to gather donations ? Plot the data using bar plot.

In [28]:
s = schools['School State'].value_counts().sort_values(ascending = False).head(10)
s

California        8457
Texas             6485
New York          3819
Florida           3302
Illinois          3126
Michigan          2653
Ohio              2546
North Carolina    2543
Pennsylvania      2163
Georgia           2125
Name: School State, dtype: int64

In [1]:
s.iplot(kind='bar' , xTitle='States' , yTitle='Number of schools' ,title='Number of schools involved in projects by states')

What are the top 10 states in which schools gathered most amount of AVERAGE donations for their projects ?

In [30]:
s2 = data4.groupby('School State')['Donation Amount'].mean().sort_values(ascending=False).head(10)
s2

School State
Virginia         235.352500
New Jersey        62.500000
Oklahoma          51.100000
Georgia           48.086667
Kansas            44.030000
New York          37.200000
Indiana           34.196000
Tennessee         33.750000
New Hampshire     33.530000
California        31.145263
Name: Donation Amount, dtype: float64

In [2]:
s2.iplot(kind='bar' , xTitle='State' , yTitle='Average donation per project', title='Top 10 states(with maximum doantion)' , colorscale='paired' )

Analyse the Maximum , minimum , mean ,meadian and 25 and 75% percentiles of Donations?

In [32]:
mean = np.mean(data4['Donation Amount'].dropna())
median = np.median(data4['Donation Amount'].dropna())
percentiles = np.percentile(data4['Donation Amount'].dropna() ,[25,75])
minimum = data4['Donation Amount'].dropna().min()
maximum = data4['Donation Amount'].dropna().max()

print('mean donation amount is:' ,np.round(mean,2))
print('median donation amount is:' ,median)
print('25% and 75% donation amount is:' ,percentiles)
print('minimum donation amount is:' ,minimum)
print('maximum donation amount is:' ,maximum)

mean donation amount is: 39.37
median donation amount is: 20.0
25% and 75% donation amount is: [ 5. 50.]
minimum donation amount is: 1.0
maximum donation amount is: 500.0

We can immediately observe from above statistics that our Donations Amount column have lots of outliers since 
mean is 60 whereas median is 25 which shows that there are plenty of outliers causing mean to rise, 
second indicator is that we have 25th and 75th percentiles both below than mean. In other words although 
%75 percent of our data smaller than 50 we have a mean values which is 60.66 which is also a good indicator of outliers. 
Lastly we can easily say that maximum value is a huge outlier too.

n which percent the data has points greater or smaller than the value shown in the x axis.

In [14]:
x = np.sort(data4["Donation Amount"].dropna())
y = np.arange(1,len(x)+1)/len(x)
plt.plot(x,y,marker = '.')
plt.show

In which states there are more donations done by donors.

In [34]:
s3 = data4.groupby('Donor State')['Donation ID'].count().sort_values(ascending = False).head(15)
s3

Donor State
California        20
New York           7
Indiana            6
New Jersey         6
other              5
Oklahoma           4
Tennessee          3
Georgia            3
North Carolina     3
Louisiana          2
Maryland           1
Colorado           1
Iowa               1
Kansas             1
New Hampshire      1
Name: Donation ID, dtype: int64

In [13]:
s3.iplot(kind='bar' , xTitle='State',yTitle='Number of donations',title='Donations count',colorscale='paired')

Is there a relationship between the number of projects offered and number of donations made by the donors. 
Which states performing better in this case ? How many of them responding project requests below average and 
which states are performing best in terms of donations per project ?

In [36]:
s4 = schools['School State'].value_counts()
s5 = data4.groupby('Donor State')['Donation ID'].count()
df = pd.concat([s4,s5],axis=1,keys=['Projects','Donations'])

In [37]:
df = df.dropna()

In [38]:
df.head()

            Projects  Donations
California    8457.0       20.0
Texas         6485.0        1.0
New York      3819.0        7.0
Michigan      2653.0        1.0
Ohio          2546.0        1.0

In [12]:
df.iplot(kind='scatter',xTitle='Projects',yTitle='Donations',title='Projects vs Donations',symbol='x',colorscale='paired',mode='markers')

fit a linear model which will basically indicate the relationship between projects and donations.

In [10]:
slope,intercept = np.polyfit(df.Projects,df.Donations,1)
x = np.array([df.Projects.min(),df.Projects.max()])
y = slope*x + intercept # y = mx + c
plt.plot(x,y)
plt.show

In [9]:
df.plot.scatter(x='Projects' , y='Donations')
slope,intercept = np.polyfit(df.Projects,df.Donations,1)
x = np.array([df.Projects.min(),df.Projects.max()])
y = slope*x + intercept
plt.plot(x,y)
plt.tight_layout()
plt.margins(0.05)

How many different project types exists ? What is the total donation amount for each of them ?

In [43]:
data4.head(2)

,Project ID,Donation ID,Donor ID,Donation Included Optional Donation,Donation Amount,Donor Cart Sequence,Donation Received Date,School ID,Teacher ID,Teacher Project Posted Sequence,...,School Name,School Metro Type,School Percentage Free Lunch,School State,School Zip,School City,School County,School District,Teacher Prefix,Teacher First Project Posted Date
0,0012f7359b9705f46355a1c2b8ecbc1d,33e1b085ee889833b023fe0bd7c22414,03fa60275eb66e873c30ecb86840df4b,Yes,5.0,607,2013-10-11 20:00:04,78ceaa1d8b13c14d433ee1b71cd8a013,30fd47bdade08c4ffefaaed727d2e159,3,...,Nashua Elementary School,urban,22.0,Missouri,64155,Kansas City,Clay,North Kansas City Schools 74,Mrs.,2012-11-04
1,00550d6678ef7b9c39efe929b4ce0298,2f9c010bf3481967139a77646a60594f,03fa60275eb66e873c30ecb86840df4b,Yes,1.0,335,2013-06-26 17:36:55,1400e132bfbdde39ff0b353e99a25db7,2ede6f066d722baf9376d9eb5c70aaf5,2,...,Tok School,rural,85.0,Alaska,99780,Tok,Southeast Fairbanks,Alaska Gateway School District,Mrs.,2013-05-05

In [44]:
s6 = data4["Project Type"].value_counts()
s6

Teacher-Led    72
Name: Project Type, dtype: int64

In [45]:
s7 = data4.groupby('Project Type')['Donation Amount'].sum().astype(int)
s7

Project Type
Teacher-Led    2834
Name: Donation Amount, dtype: int32

In [8]:
plt.subplot(2,1,1)
plt.pie(s6 , startangle=90)
plt.legend(['Teacher-Led'],loc='upper left')
plt.subplot(2,1,2)
plt.pie(s7 , startangle=90)
plt.legend(['Teacher-Led'],loc='upper left')
plt.tight_layout()
plt.margins(0.05)
fig = plt.gcf()
fig.set_size_inches(25,15)

How many project subject category trees exists ? Which ones attracted the most donations ?

In [47]:
data4['Project Subject Category Tree'].nunique()

17

In [48]:
s8 = data4.groupby('Project Subject Category Tree')['Donation Amount'].sum().astype(int).sort_values(ascending = False).head(15)
s8

Project Subject Category Tree
Literacy & Language                      1648
Literacy & Language, Math & Science       225
Applied Learning                          198
Special Needs                             115
Math & Science                            112
Applied Learning, Literacy & Language     102
History & Civics, Special Needs           100
Literacy & Language, Music & The Arts      85
Music & The Arts                           60
Literacy & Language, Special Needs         35
Literacy & Language, History & Civics      35
Literacy & Language, Applied Learning      30
Health & Sports, Math & Science            30
Math & Science, History & Civics           20
Math & Science, Special Needs              20
Name: Donation Amount, dtype: int32

In [7]:
s9 = s8/1000000
s9.iplot(kind="bar" , xTitle='Project sub category' , yTitle='Donation amount in millions',
        title='Donation amount by project subject' , colorscale='paired')

Lets move to the timings now

What is the mean time that takes a project to be fully funded after posted and how it varies between states ?

In [50]:
data4[['Project Posted Date' , 'Project Fully Funded Date']].isnull().sum()

Project Posted Date          0
Project Fully Funded Date    5
dtype: int64

In [51]:
data4[['Project Posted Date' , 'Project Fully Funded Date']].head()

  Project Posted Date Project Fully Funded Date
0          2013-09-14                2013-10-29
1          2013-05-15                2013-07-05
2          2013-08-09                2013-08-18
3          2013-03-10                2013-05-13
4          2013-03-10                2013-05-13

In [52]:
data4['Project Posted Date'] = pd.to_datetime(data4['Project Posted Date'])

In [53]:
data4['Project Fully Funded Date'] = pd.to_datetime(data4['Project Fully Funded Date'])

In [54]:
data4['Funding Time'] = data4['Project Fully Funded Date'] - data4['Project Posted Date'] 
data4[['Funding Time','Project Posted Date' , 'Project Fully Funded Date']].head()

  Funding Time Project Posted Date Project Fully Funded Date
0      45 days          2013-09-14                2013-10-29
1      51 days          2013-05-15                2013-07-05
2       9 days          2013-08-09                2013-08-18
3      64 days          2013-03-10                2013-05-13
4      64 days          2013-03-10                2013-05-13

In [55]:
data4[['Funding Time','Project Posted Date' , 'Project Fully Funded Date']].isnull().sum()

Funding Time                 5
Project Posted Date          0
Project Fully Funded Date    5
dtype: int64

In [56]:
data5 = data4[pd.notnull(data4['Funding Time'])]
data5[['Funding Time','Project Posted Date' , 'Project Fully Funded Date']].isnull().sum()

Funding Time                 0
Project Posted Date          0
Project Fully Funded Date    0
dtype: int64

In [57]:
import datetime as dt
data5['Funding Time'] = data5['Funding Time'].dt.days

In [58]:
wrong_overall_mean_time = data5['Funding Time'].mean()
wrong_overall_mean_time

42.02985074626866

In [59]:
overall_mean_time = data5.groupby('Project ID')['Funding Time'].mean()
output = overall_mean_time.mean()
output

39.46341463414634

Average funding time for each state

In [5]:
state_project_funding_time = data5.groupby(['School State' , 'Project ID'])['Funding Time'].mean()
state_project_funding_time

In [6]:
state_average_project_funding_time = state_project_funding_time.groupby('School State').mean()
state_average_project_funding_time.round(0)

Which states are the best and which are the worst performing in terms of this criteria ( mean project fully funded time) ??

In [62]:
fast = state_average_project_funding_time.round(0)
fast[fast<32].sort_values().head(10)

School State
New Hampshire      1.0
Pennsylvania       2.0
Virginia           2.0
Indiana            4.0
South Carolina     4.0
Texas              9.0
Oklahoma          11.0
New York          13.0
Kansas            16.0
Arizona           29.0
Name: Funding Time, dtype: float64

In [4]:
fast_funding = fast[fast<32].sort_values().head(10)
fast_funding.iplot(kind='bar' , xTitle='States' , yTitle='fully funding time(in days)',
                  title='states that fund projects earlier than others',colorscale='paired')

In [64]:
slow = state_average_project_funding_time.round(0)
slow[slow>32].sort_values(ascending = False).head(10)

School State
Tennessee         126.0
Maine             111.0
Louisiana         109.0
Colorado          107.0
North Carolina     58.0
Alaska             51.0
New Jersey         46.0
Missouri           45.0
Georgia            44.0
Florida            42.0
Name: Funding Time, dtype: float64

In [3]:
slow_funding = slow[slow>32].sort_values(ascending = False).head(10)
slow_funding.iplot(kind='bar' , xTitle='States' , yTitle='fully funding time(in days)',title='states that fund projects earlier than others')